{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Welcome to Local Logs</li>
    </ol>
  </nav>
  <h2 class="mb-3">Available Items</h2>
  <a href="{% url 'buyer:orders_list' %}" class="btn btn-primary mb-3 text-right" role="button">Cart</a> 
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Description</th>
          <th>Seller</th>
          <th>Want to Buy this item</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td class="align-middle">{{ item.name }}</a></td>
            <td class="align-middle">{{ item.category }}</td>
            <td class="align-middle">{{ item.description }}</td>
            <td class="align-middle">{{ item.owner }}</td>
            <td class="align-right">
              <a href="{% url 'buyer:add_in_cart' pk=item.pk %}" class="btn btn-primary mb-3 align-right" role="button">Add in cart</button>
            </td>
          </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}